
/*
*
* larger components
*
*/
.container-homepage {
  position: relative;
  /* height: 100%; */
  /* height: 500px; */
  /* height: 100vh;
  min-height: 500px;
  max-height: 1080px; */
  /* width: 100%; */
  /* background-image: url("../images/IMG477.jpeg"); */
  /* background-size: cover; */
  /* padding-bottom: 63px; */
}

.container-collections {
  /* z-index: 100; */
  background-color: #f1f1f1;
  padding: 30px;
}

.container-gallery {
  /* z-index: 100; */
  padding-top: 100px;
  font-family: inherit;
  background-color: #f1f1f1;

  /* padding: 30px; */
}

.container-us {
  position: relative;
  padding: 30px;
  /* margin-left: 30px;
  margin-top: 30px; */
  /* max-width: 100% */
  /* padding: 30px; */
  /* background-color: ; */
  /*
  /* height: 500px; */
  /* height: 100vh;
  min-height: 500px;
  */
  /* height: 100%;
  max-height: 1080px;
  width: auto; */
  /* padding-left: 30px;
  padding-top: 30px;   */
}

.container-intro {
  margin-left: 100px;
  margin-right: 100px;
}

.intro {
  /* position: absolute; */
  width: 100%;
  height: auto;
  font-family: inherit;
  color: #000000;
  font-size: 1em;
  font-weight: 200;
  /* overflow-wrap: normal; */
}

.intro p {
  /* display: block; */
  color: #696969;
  /* margin-top: 10px; */
  /* max-width: 50px; */

  /* text-align: justify; */
  /* overflow-x: hidden; */
  /* font-size: 2vw;; */
}
.intro h5 {
  /* display: block; */
  color: #000000;
  margin-top: 10px;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.1em;
  /* max-width: 50px; */

  /* text-align: justify; */
  /* overflow-x: hidden; */
  /* font-size: 2vw;; */
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .img-center {
	margin-left: auto;
	margin-right: auto;
} */

.img-responsive {
    max-width:100%;
}

.split {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* .intro img {
  height: auto;
  width: 30%;

  /* border-radius: 50%; */

/* } */


.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
* Nav bar components
*
*/
.navbar-brand {
  /* font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; */
  font-family: inherit;
  position: relative !important;
  display: inline-block !important;
  font-size: 1.5em !important;
  font-weight: 200 !important;
  /* margin: 0 0 30px 0; */
  color: #FFFFFF !important;
}

.navbar {
    background-color: rgba(0,0,0,0.7) !important;
    position: fixed !important;
    opacity: 0.7 !important;
    width: 100% !important;
    z-index: 100 !important;
}

.btn {
  font-family: inherit;
  position: relative !important;
  display: inline-block !important;
  font-size: 20px !important;
  font-weight: 100 !important;
  color: #FFFFFF !important;
}

.btn:hover {
    background-color: #FFFFFF !important;
    color: #A9A9A9 !important;
}

.navbar-toggler-icon {
  fill: #FFFFFF !important;
}

.home {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home h1 {
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

.home h2 {
  color: lighten(#3498db, 25%);
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}

.collections {
  /* padding: 75px 15px; */
  border-bottom: 1px solid #dcd9d9;
}



.collections p {
  color: #74808a;
  margin: 0;
}

.center {
  position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;

}

.heading {
    position: relative;
    /* text-align: center; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: inline-block;
    color: #374054;
    font-size: 2em;
    font-weight: 300;
    /* padding: 75px 15px; */
    border-bottom: 1px solid #A9A9A9;
    padding-bottom: 3px;
    margin: 0 0 30px 0;
    /* margin-left: 10 */
}

.borderLeft {
  border-left: 2px solid #A9A9A9;
  position: absolute;
  height: 100px;
  top: 80%;
  bottom: 0;
}

/* Dropdown menu */
.svg-icon {
  position: relative;
  padding-top: 6px;
}

.svg-icon path {
  fill: #FFFFFF;
  /* stroke: 0.5; */
  /* opacity: 1; */
}

.dropdown-menu {
  width: 600px !important;
  height: auto !important;
  background-color: rgba(0,0,0,0.5);
  top: 58px;
}

.dropdown-item {
  font-family: inherit;
  color: #000000;
  font-weight: 100;
  font-size: 0.7em;
  /* padding-left: 50px; */
}

.dropdown-item-text {
  font-family: inherit;
  color: #A9A9A9;
  font-weight: 400;
  font-size: 1.1em;
}

/* starting of side menue css */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  opacity: 0.92;
  padding: 2.5em 1.5em 0;
  font-size: 1.25em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.5em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  font-family: inherit;
  font-weight: 200;
  font-size: 1.3em;
  color: #000000;
  text-align: center;
  padding-bottom: 10px;
}

.menu-item-text {
  width: 100%;
  height: auto;
  font-family: inherit;
  color: #000000;
  font-size: 1em;
  font-weight: 300;
  color: #696969;
}

.menu-item:hover {
  color: #000000;
}

.menu-block a {
  display: block;
}

/* .dropdown:active .svg-icon-rotate {
  transition-duration: 0.3s;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
} */

/* .dropdown-menu:before {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
} */

/* .dropdown:hover .dropdown-menu{
  display: block;
}

.dropdown:hover .svg-icon-rotate {
  transition-duration: 0.3s;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
} */

/* @-webkit-keyframes in {
    from: transform: rotate(0deg);
    to: transform: rotate(360deg);
}

@-webkit-keyframes out {
    from: transform: rotate(360deg);
    to: transform: rotate(0deg);
} */

/* .light-box {
  font-family: inherit;
  font-size: 2em;
  font-weight: 100;
} */


/* .container-homepage i {
  position: absolute;
  margin-left: 50%;
  margin-bottom: 0px; */
  /* margin-bottom: 50%; */
  /* margin-top: auto; */
  /* font-size: 40px;
  display: block;
  color: #101010
} */

/* .container-homepage i:hover {
  color: #808080
} */

.elements {
  position: relative;
  bottom: 0;
}

.overlay {
  position: absolute;
  /* display: table; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.overlay span {
  /* position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 100;
  font-size: 2em;
  color: #FFFFFF;
  top: 50%;
  left: 25%; */
  font-family: inherit;
  font-weight: 500;
  font-size: 2em;
  color: #FFFFFF;
  /* opacity: 1; */
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  /* text-align: center;
  padding: 5px;
  top:50%; */
}

.overlay-text {
  font-family: inherit;
  font-weight: 300;
  font-size: 2em;
  color: #FFFFFF;
  /* opacity: 1; */
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  opacity: 0;
}

.card:hover .overlay{
  opacity: 0.3;
}

.card:hover .overlay-text {
  opacity: 1;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

/* .carousel,
.item,
.active {
    height: 100%;
    margin-bottom: 60px;
}

.carousel-inner {
    height: 100%;
}*/

.slide-img-2 {
    /* width: 100%;
    height: 100% !important; */
    /* padding-bottom: 50px; */
    /* margin-bottom: -100px;  */
    position: relative;
    /* height: 100%; */
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    width: auto;
    background-image: url("../images/Endless.jpg");
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.slide-img-1 {
    /* width: 100%;
    height: 100% !important; */
    /* padding-bottom: 50px; */
    /* margin-bottom: -100px;  */
    position: relative;
    /* height: 100%; */
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    width: auto;
    background-image: url("../images/Memories.jpg");
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.slide-img-3 {
    /* width: 100%;
    height: 100% !important; */
    /* padding-bottom: 50px; */
    /* margin-bottom: -100px;  */
    position: relative;
    /* height: 100%; */
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    width: auto;
    background-image: url("../images/IMG477.jpeg");
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption h5 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: inline-block;
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 100;
  /* margin-bottom: 1em */
}

.carousel-caption p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 100;
  /* display: inline-block;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 100; */
  /* margin-bottom: 0.5em */
}

.card-columns .card .card-img {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* .dropdown:hover .dropdown-menu{
  display: block;
} */

/* .dropdown:hover .svg-icon-rotate {
  transition-duration: 0.3s;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
} */
/* @media handheld {
  .dropdown:hover .dropdown-menu{
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
   }

   .dropdown:hover .svg-icon-rotate{
     -webkit-transform: none;
     -moz-transform: none;
     -ms-transform: none;
     transform: none;
    }
} */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
   }
   .dropdown-menu {
     width: 50px !important;
     height: auto !important;
     background-color: rgba(0,0,0,0.5);
     top: 45px;
     transition: 0.5s;
   }
   .dropdown-menu {
     top: 58px;
   }

   .card .overlay{
     opacity: 0.3;
   }

   .card .overlay-text {
     opacity: 1;
   }

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
   }

   .container-intro {
     margin-left: 0px;
     margin-right: 0px;
   }
   .dropdown-menu {
     top: 58px;
   }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
   }
   .container-intro {
     margin-left: 0px;
     margin-right: 0px;
   }
   .dropdown-menu {
     top: 58px;
   }
   .card .overlay{
     opacity: 0.3;
   }

   .card .overlay-text {
     opacity: 1;
   }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
   }
   .container-intro {
     margin-left: 0px;
     margin-right: 0px;
   }
   .dropdown-menu {
     top: 58px;
   }
   .card .overlay{
     opacity: 0.3;
   }

   .card .overlay-text {
     opacity: 1;
   }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
   }
   .container-intro {
     margin-left: 0px;
     margin-right: 0px;
   }
   .dropdown-menu {
     top: 58px;
   }
   .card .overlay{
     opacity: 0.3;
   }

   .card .overlay-text {
     opacity: 1;
   }
}
