.container-homepage {
  position: relative;
  min-height: 100%;
  width: auto;
  background-image: url("../images/IMG477.jpeg");
  background-size: cover;
  padding-bottom: 63px;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

.container-collections {
  padding: 100px;
}

.onephoto {
  /* Add shadows to create the "card" effect */
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  transition: 0.3s;
  position: relative;
  left: 30px;
}

/* On mouse-over, add a deeper shadow */
.onephoto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.caption {
  text-align: center;
  padding: 5px 10px;
}

.caption h1 {
  font-family: 'Cardo';
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

.caption h2{
  font-family: 'Yatra One';
  font-size: 18px;
}

.image {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.navbar-brand {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #FFFFFF !important;
}

.navbar.transparent.navbar-inverse {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.btn {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #FFFFFF;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #717171;
}

i {
  margin-left: 50%;
  margin-top: 42%;
  font-size: 40px;
  display:inline-block;
  color: #101010
}

i:hover {
  color: #808080
}
